<template>
  <div class="wrap">

    <b-row>
      <b-col cols="4">
        <Select :options="typeList" v-model="edit.type" class="w-100"></Select>
      </b-col>
      <b-col>
        <b-form-input v-model="edit.cmd"></b-form-input>
      </b-col>
    </b-row>

    <b-form-group horizontal :label-cols="5" label-size="sm" label="Краткое описание:" class="top-10">
      <b-form-input v-model="edit.comment" placeholder="Описание задания"></b-form-input>
    </b-form-group>

    <div class="clearfix top-15"></div>
    <h5>Команда будет выполняться:</h5>

    <b-row>
      <b-col>
        <b-button size="sm" class="w-100"></b-button>
        <b-button size="sm" class="w-100"></b-button>
        <b-button size="sm" class="w-100"></b-button>
      </b-col>
      <b-col>
        <b-button size="sm" class="w-100"></b-button>
        <b-button size="sm" class="w-100"></b-button>
      </b-col>
    </b-row>

    <div class="cleearfix top-15"></div>
    <b-button size="sm" variant="success">Добавить задание</b-button>
  </div>
</template>

<script>
  import Select from '~/components/s-select';

  const cronItem = {
    cmd: '',
    type: 'custom',
    comment: '',
    time: '* * * * *',
    active: true
  };

  export default {
    data() {
      return {
        edit: Object.assign({}, cronItem)
      }
    },
    computed: {
      typeList() {
        return [
          {value: 'custom', label: 'Произвольная команда'},
          {value: 'php', label: 'PHP скрипт'},
          {value: 'http', label: 'Запрос по протоколу HTTP'},
          {value: 'https', label: 'Запрос по протоколу HTTPS'}
        ]
      }
    },
    methods: {
      onAdd() {
        this.edit = Object.assign({}, cronItem);
      }
    },
    components: {
      Select
    }
  }
</script>

<style scoped>
  .wrap {
    width: 790px;
    min-height: 20px;
    padding: 10px 15px;
    background-color: #eff3f6;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
</style>
