<template>
  <div class="drive-item bottom-10">
    <span class="ico">
        <i class="fa fa-hdd-o"></i>
    </span>
    &nbsp;
    <span class="name">{{valueData.DeviceID}}</span>

    <span class="use">{{valueData.usePercent}}%</span>

    <div class="drive-line">
      <div class="progress">
        <div class="progress-bar progress-bar-info"
             role="progressbar"
             :aria-valuenow="valueData.usePercent"
             aria-valuemin="0"
             aria-valuemax="100"
             :style="{width: valueData.usePercent+'%'}">
          <span class="sr-only">{{valueData.usePercent}}%</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      valueData: {
        type: Object,
        default() {
          return {};
        }
      },
      num: {
        type: Number,
        default: 1
      }
    }
  }
</script>

<style scoped>
  .drive-item {
    position: relative;
    font-size: 15px;
  }

  .drive-item .use {
    position: absolute;
    right: 15px;
  }
</style>
