<template>
  <footer class="w-100 bg-light">
    <small>Server Panel &copy; 2016-{{year}} | version: <b>{{version}}</b></small>
  </footer>
</template>

<script>
  import {version} from '~/package.json';

  export default {
    computed: {
      version() {
        return version;
      },
      year() {
        let now = new Date();
        return now.getFullYear();
      }
    }
  }
</script>

<style scoped>
  footer {
    position: absolute;
    bottom: 0;
    padding: 4px 10px;
    border-top: 1px solid #e6e5e5;
    z-index: 0;
  }
</style>
