<template>
  <transition
    :name="transition"
    mode="in-out"
    appear
    :appear-active-class="enterClass"
    :enter-active-class="enterClass"
    :leave-active-class="leaveClass"
    @after-leave="afterLeave"
  >
    <div class="message-box animated" v-if="show">
      <article :class="['message', type ? `is-${type}` : '']">
        <button class="delete touchable close" @click="close()" v-if="showCloseButton">
          <i class="fa fa-times-circle"></i>
        </button>

        <!--<div class="message-header" v-if="title">-->
        <!--<span class="icon" v-if="icon">-->
        <!--<i :class="['fa', `fa-${icon}`]"></i>-->
        <!--</span>-->
        <!--{{ title }}-->
        <!--</div>-->
        <!--<div class="message-body" v-if="message">{{ message }}</div>-->

        <b-alert :variant="type" show>
          <div v-html="message"></div>
        </b-alert>
      </article>
    </div>
  </transition>
</template>

<script>
  import Vue from 'vue'

  export default {

    props: {
      type: String,
      title: String,
      message: String,
      direction: {
        type: String,
        default: 'Down'
      },
      duration: {
        type: Number,
        default: 1500
      },
      container: {
        type: String,
        default: '.messages'
      },
      showCloseButton: Boolean
    },

    data() {
      return {
        $_parent_: null,
        icons: {
          normal: '',
          primary: 'arrow-circle-right',
          info: 'info-circle',
          success: 'check-circle',
          warning: 'exclamation-circle',
          danger: 'times-circle'
        },
        show: true
      }
    },

    created() {
      let $parent = this.$parent
      if (!$parent) {
        let parent = document.querySelector(this.container)
        if (!parent) {
          // Lazy creating `div.notifications` container.
          const className = this.container.replace('.', '')
          const Messages = Vue.extend({
            name: 'Messages',
            render(h) {
              return h('div', {
                'class': {
                  [`${className}`]: true
                }
              })
            }
          })
          $parent = new Messages().$mount()
          document.body.appendChild($parent.$el)
        } else {
          $parent = parent.__vue__
        }
        // Hacked.
        this.$_parent_ = $parent
      }
    },

    mounted() {
      if (this.$_parent_) {
        this.$_parent_.$el.appendChild(this.$el)
        this.$parent = this.$_parent_
        delete this.$_parent_
      }
      if (this.duration > 0) {
        this.timer = setTimeout(() => this.close(), this.duration)
      }
    },

    destroyed() {
      this.$el.remove()
    },

    computed: {
      transition() {
        return `bounce-${this.direction}`
      },

      enterClass() {
        return `bounceIn${this.direction}`
      },

      leaveClass() {
        return `bounceOut${this.direction === 'Up' ? 'Down' : 'Up'}`
      },

      icon() {
        return this.icons[this.type]
      }
    },

    methods: {
      close() {
        clearTimeout(this.timer)
        this.show = false
      },

      afterLeave() {
        this.$destroy()
      }
    }
  }
</script>

<style>
  .messages {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 2000;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
  }

  .message-box .close {
    display: none;
  }
</style>

<style scoped>

  .message-box {
    position: absolute;
    left: 50%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    pointer-events: all;
  }

  .message {
    position: relative;
    right: 50%;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 1rem;
  }

  .message.is-primary {
    background-color: #f5fffd;
  }

  .message.is-primary .message-header {
    background-color: #00d1b2;
    color: #fff;
  }

  .message.is-primary .message-body {
    border-color: #00d1b2;
    color: #021310;
  }

  .message.is-success {
    background-color: #f6fef9;
  }

  .message.is-success .message-header {
    background-color: #23d160;
    color: #fff;
  }

  .message.is-success .message-body {
    border-color: #23d160;
    color: #0e301a;
  }

  .message.is-info {
    background-color: #f6f9fe;
  }

  .message.is-info .message-header {
    background-color: #3273dc;
    color: #fff;
  }

  .message.is-info .message-body {
    border-color: #3273dc;
    color: #22509a;
  }

  .message.is-warning {
    background-color: #fffdf5;
  }

  .message.is-warning .message-header {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, .7);
  }

  .message.is-warning .message-body {
    border-color: #ffdd57;
    color: #3b3108;
  }

  .message.is-danger {
    background-color: #fff5f7;
  }

  .message.is-danger .message-header {
    background-color: #ff3860;
    color: #fff;
  }

  .message.is-danger .message-body {
    border-color: #ff3860;
    color: #cd0930;
  }

  .message-header {
    -ms-flex-align: center;
    align-items: center;
    background-color: #4a4a4a;
    border-radius: 3px 3px 0 0;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.25;
    padding: .5em .75em;
    position: relative;
  }

  .message-body {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #4a4a4a;
    padding: 1em 1.25em;
  }

  .delete {
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 0.75em;
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;
    font-size: 14px;
  }

  .delete,
  .delete:after,
  .delete:before {
    outline: none;
  }

  .icon {
    vertical-align: middle;
    display: inline-block;
    font-size: 21px;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    width: 1.5rem;
  }
</style>
