html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #404040;
  background-color: #e0e0e0;
}

dl, ol, p, pre, ul {
  margin-top: 0;
  margin-bottom: 1rem
}

.top-3 {
  margin-top: 3px !important;
}

.top-4 {
  margin-top: 4px !important;
}

.top-5 {
  margin-top: 5px !important;
}

.top-7 {
  margin-top: 7px !important;
}

.top-10 {
  margin-top: 10px !important;
}

.top-15 {
  margin-top: 15px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.top-25 {
  margin-top: 25px !important;
}

.top-30 {
  margin-top: 30px !important;
}

.top-40 {
  margin-top: 40px !important;
}

.bottom-5 {
  margin-bottom: 5px !important;
}

.bottom-10 {
  margin-bottom: 10px !important;
}

.bottom-15 {
  margin-bottom: 15px !important;
}

.bottom-20 {
  margin-bottom: 20px !important;
}

.bottom-25 {
  margin-bottom: 25px !important;
}

.bottom-30 {
  margin-bottom: 30px !important;
}

.bottom-40 {
  margin-bottom: 40px !important;
}

.bottom-55 {
  margin-bottom: 55px !important;
}

.bottom-80 {
  margin-bottom: 80px !important;
}

.left-5 {
  margin-left: 5px !important;
}

.left-10 {
  margin-left: 10px !important;
}

.left-15 {
  margin-left: 15px !important;
}

.left-20 {
  margin-left: 20px !important;
}

.left-25 {
  margin-left: 25px !important;
}

.right-5 {
  margin-right: 5px !important;
}

.right-10 {
  margin-right: 10px !important;
}

.right-15 {
  margin-right: 15px !important;
}

.right-20 {
  margin-right: 20px !important;
}

.right-25 {
  margin-right: 25px !important;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  background-color: rgba(160, 160, 160, .2);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(160, 160, 160, .3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(160, 160, 160, .5);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(160, 160, 160, .5);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(160, 160, 160, .5);
}

.actions {
  text-align: right;
}

.actions .btn-sm {
  padding: 0 5px;
}

.btn-secondary {
  color: #292b2c !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}

.btn-secondary.focus, .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 80%, .5) !important;
  box-shadow: 0 0 0 2px hsla(0, 0%, 80%, .5) !important;
}

.btn-secondary:hover {
  color: #292b2c !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}