<template>
  <div></div>
</template>

<script>
  const envItem = {
    key: '',
    value: ''
  };
  export default {
    props: {
      value: {
        type: Array,
        default() {
          return [];
        }
      }
    },
    data() {
      return {
        list: [],
        edit: Object.assign({}, envItem)
    }
    },
    mounted() {
      this.list = this.value;
    },
    watch: {
      list: {
        deep: true,
        immediate: true,
        handle(val) {
          this.$emit('input', val);
        }
      }
    },
    methods: {
      onAdd() {
        this.list.push(Object.assign({}, this.edit))
      },
      onEdit(idx) {
        this.edit = this.list[idx];
      },
      onRemove(idx) {
        this.list.splice(idx, 1);
      }
    }
  }
</script>

<style scoped>
</style>
