<template>
  <div>
    <h1 class="title">
      404
    </h1>
    <h2 class="info">
      Страница не найдена
    </h2>
  </div>
</template>

<script>
  export default {}
</script>

<style scoped>
  .title, .info {
    text-align: center;
  }

  .title {
    margin-top: 15px;
    font-size: 5em;
  }

  .info {
    font-weight: 300;
    color: #9aabb1;
    margin: 0;
  }
</style>
